@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border-radius: 0.25rem;
    --padding-button: 0.625rem 1.25rem;
    --color-brand-base: #ffff;
    --color-brand-primary: #4caf4f;
    --color-brand-secondary: #18191f;
    --color-brand-gray: #18191f;
  }
}
